Silver Sable	Captain America
Forge (comics)	Thor (Marvel Comics)
Spider-Man 2099	Iron Man
Captain Ultra	Thor (Marvel Comics)
Siryn	Thor (Marvel Comics)
White Tiger (Kasper Cole)	Captain America
Sharon Friedlander	Spider-Man
Sharon Friedlander	Thor (Marvel Comics)
Machine Man	Spider-Man
Machine Man	Thor (Marvel Comics)
Thor Girl	Iron Man
Valkyrie (Marvel Comics)	Thor (Marvel Comics)
Dazzler	Spider-Man
Nova (Sam Alexander)	Thor (Marvel Comics)
Sasquatch (comics)	Iron Man
Ultimate Wolverine	Spider-Man
Moon Knight	Spider-Man
Hulk 2099	Thor (Marvel Comics)
Thundra	Spider-Man
Freedom Ring	Thor (Marvel Comics)
Freedom Ring	Captain America
Wasp (comics)	Captain America
Living Brain	Iron Man
Ghost Rider (Danny Ketch)	Spider-Man
Ghost Rider (Danny Ketch)	Thor (Marvel Comics)
Angela (comics)	Thor (Marvel Comics)
Athena (Marvel Comics)	Iron Man
Anya Corazon	Spider-Man
Silhouette (comics)	Thor (Marvel Comics)
Abner Jenkins	Thor (Marvel Comics)
Sharon Ventura	Iron Man
Danielle Moonstar	Iron Man
Gremlin (comics)	Iron Man
Rockslide (comics)	Spider-Man
Juggernaut (comics)	Thor (Marvel Comics)
John Carik	Captain America
Spider-Woman (Mattie Franklin)	Spider-Man
Spider-Woman (Mattie Franklin)	Thor (Marvel Comics)
Yellowjacket (Marvel Comics)	Iron Man
Century (comics)	Spider-Man
Century (comics)	Thor (Marvel Comics)
Sersi	Thor (Marvel Comics)
Spider-Man (Miles Morales)	Iron Man
Spider-Man (Miles Morales)	Spider-Man
M (comics)	Spider-Man
M (comics)	Thor (Marvel Comics)
Prime (comics)	Spider-Man
Ben Reilly	Iron Man
Ben Reilly	Spider-Man
Thunderstrike (Kevin Masterson)	Spider-Man
Fin Fang Foom	Spider-Man
Fin Fang Foom	Thor (Marvel Comics)
Delroy Garrett	Spider-Man
Delroy Garrett	Thor (Marvel Comics)
Shatterstar	Spider-Man
Bucky	Iron Man
Armor (comics)	Spider-Man
Armor (comics)	Thor (Marvel Comics)
Mister Fantastic	Spider-Man
Grand Director	Iron Man
Arkon	Iron Man
Angel Dust (comics)	Spider-Man
Angel Dust (comics)	Thor (Marvel Comics)
Moonstone (comics)	Spider-Man
Moonstone (comics)	Thor (Marvel Comics)
Comet Man	Spider-Man
Comet Man	Thor (Marvel Comics)
Swordsman (comics)	Spider-Man
She-Hulk	Spider-Man
Falcon (comics)	Spider-Man
Elektro (comics)	Thor (Marvel Comics)
Thor (Marvel Comics)	Human Torch (android)
Thor (Marvel Comics)	Xavin
Thor (Marvel Comics)	Namora
Thor (Marvel Comics)	Julia Carpenter
Thor (Marvel Comics)	Beast (comics)
Thor (Marvel Comics)	Forgotten One (comics)
Thor (Marvel Comics)	Carol Danvers
Thor (Marvel Comics)	Sleepwalker (comics)
Thor (Marvel Comics)	Blazing Skull
Thor (Marvel Comics)	Captain Universe
Thor (Marvel Comics)	Skrullian Skymaster
Thor (Marvel Comics)	Honey Lemon
Thor (Marvel Comics)	It! The Living Colossus
Thor (Marvel Comics)	Jack of Hearts
Thor (Marvel Comics)	Battlestar (comics)
Thor (Marvel Comics)	Bishop (comics)
Thor (Marvel Comics)	Ikaris
Thor (Marvel Comics)	Namorita
Thor (Marvel Comics)	Drax the Destroyer
Thor (Marvel Comics)	Siege (John Kelly)
Thor (Marvel Comics)	Cypher (Marvel Comics)
Thor (Marvel Comics)	Vision (Marvel Comics)
Thor (Marvel Comics)	Wiccan (comics)
Thor (Marvel Comics)	Black Widow (Claire Voyant)
Thor (Marvel Comics)	Alex Power
Thor (Marvel Comics)	Thena
Thor (Marvel Comics)	Smasher
Thor (Marvel Comics)	Iron Patriot
Thor (Marvel Comics)	Sandman (Marvel Comics)
Thor (Marvel Comics)	Misty Knight
Thor (Marvel Comics)	Tom Corsi
Thor (Marvel Comics)	Beta Ray Bill
Thor (Marvel Comics)	Wild Thing (comics)
Thor (Marvel Comics)	Luke Cage
Thor (Marvel Comics)	Humbug (comics)
Thor (Marvel Comics)	Iron Fist (comics)
Thor (Marvel Comics)	Savage Steel
Thor (Marvel Comics)	Starfox (comics)
Thor (Marvel Comics)	Fin (comics)
Hannibal King	Spider-Man
Hulk (comics)	Hepzibah (comics)
Hulk (comics)	Callisto (comics)
Forgotten One (comics)	Spider-Man
Jubilee (comics)	Spider-Man
Ultimate Iron Man (character)	Iron Man
Ultimate Iron Man (character)	Spider-Man
Toxin (comics)	Iron Man
Nova (Richard Rider)	Iron Man
Iron Man	Monica Rambeau
Iron Man	Junkpile
Iron Man	Spider-Girl
Iron Man	Spider-Woman (Jessica Drew)
Iron Man	Doom 2099
Iron Man	Silk (comics)
Iron Man	X-23
Iron Man	Black Cat (comics)
Iron Man	Blade (comics)
Iron Man	Venom (comics)
Iron Man	Jean Grey
Iron Man	Collective Man
Iron Man	Sabra (comics)
Iron Man	Puma (comics)
Iron Man	Stingray (comics)
Ezekiel (comics)	Spider-Man
Thunderbolt Ross	Spider-Man
Namor	Spider-Man
Spider-Man	Human Torch (android)
Spider-Man	Namora
Spider-Man	Julia Carpenter
Spider-Man	Man-Thing
Spider-Man	Iron Lad
Spider-Man	Blazing Skull
Spider-Man	Silk (comics)
Spider-Man	It! The Living Colossus
Spider-Man	Ikaris
Spider-Man	Texas Twister
Spider-Man	Siege (John Kelly)
Spider-Man	Karima Shapandar
Spider-Man	Werewolf by Night
Spider-Man	Nightmask
Spider-Man	Iron Patriot
Spider-Man	Drax the Destroyer
Spider-Man	Thena
Spider-Man	Eddie Brock
Spider-Man	Misty Knight
Spider-Man	Alpha (Marvel Comics)
Spider-Man	Cypher (Marvel Comics)
Spider-Man	Tom Corsi
Spider-Man	Spider-Girl
Spider-Man	Humbug (comics)
Spider-Man	Sleepwalker (comics)
American Dream (comics)	Captain America
Domino (comics)	Captain America
